@page "/transaction/all"

@using DataAccessLibrary.Services
@using DataAccessLibrary.Models
@inject FinancialService FinancialService

<h1>Financial Portal Transactions</h1>

<p>Grabbing Transactions from: <a target="_blank" href="https://financialwebapi.azurewebsites.net/">https://financialwebapi.azurewebsites.net/</a></p>

@if (_transactions == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <p>@_user.FullName's Transactions</p>
    <table class="table">
        <thead>
        <tr>
            <th>Created</th>
            <th>Amount</th>
            <th>Memo</th>
            <th>Type</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var transaction in _transactions)
        {
            <tr>
                <td>@transaction.Created</td>
                <td>@transaction.Amount</td>
                <td>@transaction.Memo</td>
                <td>@transaction.Type</td>
            </tr>
        }
        </tbody>
    </table>
}

@code {
    private List<Transaction> _transactions;
    private User _user;

    protected override async Task OnInitializedAsync()
    {
        _user = (User) await FinancialService.GetUserByEmail("mattpark102@gmail.com");
        _transactions = await FinancialService.GetTransactionsByUserId(_user.Id);
        _transactions = _transactions.OrderByDescending(t => t.Created).ToList();
    }
}